body {
    font-family: sans-serif;
  }

#app{
  margin: auto;
  width: 60%;
  /* border: 3px solid green;*/
   padding: 10px; 

}
  

#chooselan{
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    padding : 20px;
    border: 2px solid #e8e8e8;
    border-radius: 30px;
    margin: auto;

}

a {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    margin: 10px;
    width: 40px;
    text-decoration: none;
   }
   
   a:hover {
    border: 1px solid white;
   }
   
   a:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }